@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  justify-content: center;
}

body {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  justify-content: center;
  background: linear-gradient(75deg, rgb(182, 246, 200), rgb(189, 225, 247));
}

.wrap {
  width: 100%;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  max-width: 58rem;
  height: 64rem;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid black;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 53rem 11rem;
  padding: 0 3%;
}

input[name="rad"] {
  visibility: hidden;
}

#radio1:checked ~ #slide1 {
  opacity: 1;
}

#radio1:checked ~ #buttons #label1 {
  background-color: rgb(3, 178, 247);
  border: 0.7rem solid rgb(255, 255, 255);
}

#radio2:checked ~ #slide2 {
  opacity: 1;
}

#radio2:checked ~ #buttons #label2 {
  background-color: rgb(3, 178, 247);
  border: 0.7rem solid rgb(255, 255, 255);
}

#radio3:checked ~ #slide3 {
  opacity: 1;
}

#radio3:checked ~ #buttons #label3 {
  background-color: rgb(3, 178, 247);
  border: 0.7rem solid rgb(255, 255, 255);
}

#radio4:checked ~ #slide4 {
  opacity: 1;
}

#radio4:checked ~ #buttons #label4 {
  background-color: rgb(3, 178, 247);
  border: 0.7rem solid rgb(255, 255, 255);
}

#radio5:checked ~ #slide5 {
  opacity: 1;
}

#radio5:checked ~ #buttons #label5 {
  background-color: rgb(3, 178, 247);
  border: 0.7rem solid rgb(255, 255, 255);
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  transition: opacity 2s, visibility 2s;
  opacity: 0;
  overflow: hidden;
}

.slide__img {
  width: 50rem;
  height: 50rem;
  align-self: center;
  border: 0.1rem solid black;
}

.slide__text {
  width: 60%;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  padding-top: 2rem;
  background-color: rgb(255, 255, 255);
  text-align: start;
}

#slide1 {
  grid-row: 1/3;
  grid-column: 1/3;
  z-index: 1;
}

#slide2 {
  grid-row: 1/3;
  grid-column: 1/3;
}

#slide3 {
  grid-row: 1/3;
  grid-column: 1/3;
}

#slide4 {
  grid-row: 1/3;
  grid-column: 1/3;
}

#slide5 {
  grid-row: 1/3;
  grid-column: 1/3;
}

#img1 {
  background-image: url(./img/mem1.jpg);
}

#img2 {
  background-image: url(./img/mem2.jpg);
}

#img3 {
  background-image: url(./img/mem3.jpg);
}

#img4 {
  background-image: url(./img/mem4.jpg);
}

#img5 {
  background-image: url(./img/mem5.jpg);
}

.buttons {
  display: flex;
  height: 2.5rem;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: flex-end;
  padding-top: 2.3rem;
  z-index: 100;
}

.buttons__button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(100, 100, 100);
  cursor: pointer;
  border: 0.7rem solid rgb(255, 255, 255);
}

.buttons__button:hover {
  background-color: rgba(127, 246, 208, 1);
}

.buttons__button:active {
  background-color: rgb(244, 247, 95);
}

/*--------------------------- media ----------------------------- */

@media (max-width: 481px) {
  .slider {
    grid-template-columns: 60% 40%;
    grid-template-rows: 49.5rem 14.5rem;
    padding: 0 3%;
  }

  #img1 {
    background-image: url(./img/mem1mobile.jpg);
  }

  #img2 {
    background-image: url(./img/mem2mobile.png);
  }

  #img3 {
    background-image: url(./img/mem3mobile.jpg);
  }

  #img4 {
    background-image: url(./img/mem4mobile.jpg);
  }

  #img5 {
    background-image: url(./img/mem5mobile.jpg);
  }

  .slide__img {
    width: 42rem;
    height: 46.5rem;
  }

  .buttons {
    grid-column: 1/3;
    justify-self: center;
  }

  .slide__text {
    width: 100%;
    padding-top: 5.7rem;
  }
}
